$ff_base: 'Open Sans Condensed', Arial, sans-serif;
$ff_Arial: Arial, sans-serif;

// Ибо дизайн
$fw_light: 300;
$fw_base: $fw_light;
$fw_normal: 400;
$fw_medium: 500;
$fw_bold: 700;

$fz_small: 12px;
$lh_small: 14/12*1;
$fz_base: 16px;
$fz_medium: 15px;
$fz_large: 17px;
$fz_biglarge: 20px;
$fz_big: 24px;
$fz_mega: 36px;

$fz_title: 26px;
$fz_title--mobile: $fz_title - 6px;

$fz_h1: 40px;
$fz_h2: 30px;
$fz_h3: 20px;
$fz_h4: 18px;


$fz_p: 14px;

// $lh_h3: 22/18*1;



$lh_base: 20/14*1;
$lh_big: 30/24*1;
$lh_medium: 22/15*1;
$lh_large: 24/17*1;

$f_base: $fw_base $fz_base/#{$lh_base} $ff_base;

$c_base: #424242;
$c_title: #424242;
$c_gray: #d9d9d9;
$c_gray--light: #eeeeee;
$c_gray--dark: #484949;

$c_orange: #ffcd61;

$c_link: #41acff;
$c_blue: #41acff;

$c_muted: #808080;


$c_green: #2dc367;
$c_border-gray: #dfdfdf;
$c_border-light-gray: #E1E1E1;
$c_feedback-gray: #555;
$c_btn-base: #f2f2f2;
$bg_btn-specific: #e64a19;
$bg_btn-base: #66BB6A;

$bg_body: #f2f2f2;



$w_wrapper: 1280px;
// $wrapper_v-offset: 185px;
// $h_footer: 75px;


// z-index's
$z_1: 1;
$z_2: 2;
$z_5: 5;
$z_10: 10;
$z_100: 100;




// =====================
// Магические числа для быстрой кастомизации:
// =====================

// Размеры слайдера на главной странице



// $sprite-uri: url('../img/spites.png');
