// Вызываем базовый транзишн.
%trz {
  @include trz;
}

// Запрещаем нажатие по отключенному элементу
%disabled-btn {
  pointer-events: none;
  user-select: none;
  cursor: default;
}


%container {
  min-width: 320px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
}



%h2-adaptive {
  font-size: $fz_title;
  @media (max-width: 499px) {
    font-size: $fz_title--mobile;
  }
}
