<!-- // подвал сайта  -->
<footer class="footer">
  <div class="container">

    <div class="footer__container">
      <a class="footer__logo" href="" alt="На главную">
        <img src="img/logo-takagro.svg" width="169" height="98" alt="">
      </a>


      <ul class="footer__menu">
        <li><a href="#" class="footer__menu-link">Каталог</a></li>
        <li><a href="#" class="footer__menu-link">Запчасти</a></li>
        <li><a href="#" class="footer__menu-link">Сервис</a></li>
        <li><a href="#" class="footer__menu-link">Финансы</a></li>
        <li><a href="#" class="footer__menu-link">Контакты</a></li>
      </ul>


      <div class="footer__contacts  contacts-block">
        <div class="contacts-block__title">Звоните по любым вопросам</div>
        <div class="contacts-block__phone  contacts-block__phone--top">
          <p>8(4934) 32-16-39</p>
          <p>8(4934) 32-28-80</p>
        </div>
      </div>

    </div>
  </div>
</footer>
