<!-- Шапка сайта -->
<header class="header">
  <div class="header__container">
    <a class="header__logo" href="" alt="На главную">
      <img src="img/logo-takagro.svg" width="169" height="98" alt="">
    </a>

    <div class="header__menu">
      <div class="main-menu" id="js-mainMenu">
        <button class="main-menu__btn" id="js-mainMenuBtn" title="Показать/Скрыть меню"><span>Показать/скрыть меню</span></button>

        <nav class="main-menu__container">
          <a href="#" class="main-menu__link  main-menu__link--technic">Техника</a>
          <a href="#" class="main-menu__link  main-menu__link--parts">Запчасти</a>
          <a href="#" class="main-menu__link  main-menu__link--service">Сервис</a>
          <a href="#" class="main-menu__link  main-menu__link--finance">Финансы</a>
          <a href="#" class="main-menu__link  main-menu__link--contacts">Контакты</a>
        </nav>
      </div>
    </div>

    <div class="header__contacts  contacts-block">
      <div class="contacts-block__title">Звоните по любым вопросам</div>
      <div class="contacts-block__phone  contacts-block__phone--top">
        <p>8(4934) 32-16-39</p>
        <p>8(4934) 32-28-80</p>
      </div>
    </div>
  </div>
</header>
