<!-- Подключаем скрипты (скомпилированные jQ скрипты и следом скрипты приложения) -->
<script src="vendor/jquery-plugins.min.js"></script>
<script src="js/index.js"></script>


<script src="js-helpers/tableOfPages.js"></script>
<script>
  tableOfPages.init({
    "index": "Home",
    "catalog": "Каталог 1лв",
    "catalog-lv2": "Каталог 2лв",
    "product-page": "Карточка товара",
    "finance": "Финансы",
    "parts": "Запчасти",
    "contacts": "Контакты",
  });
</script>
