<section class="box">
<h2 class="page-title page-title--level2">Специальные предложения</h2>
<div class="grid">
  <div class="grid__cell 1/2--lap-and-up">
 <article class="item-card item-card--big item-card--best-price box"> <a href="#" class="item-card__photo"><span> <img width="571" alt="Трактор рыжий" src="/upload/medialibrary/53e/tractor1_big.jpg" height="480" title="Трактор рыжий"> </span></a>
    <h3 class="item-card__name">Трактор Kubota</h3>
    <p class="item-card__prev-text">
       Доступны модификации данной модели с колесными формулами 4х2 и 4х4, что позволяет подобрать трактор для выполнения нужного спектра работ и условий эксплуатации.
    </p>
 <a href="http://tak-agro.ru" class="btn">Подробнее</a> </article>
  </div>
  <div class="grid__cell 1/2--lap-and-up">
    <div class="grid">
      <div class="grid__cell 1/3--handheld-and-up  1/2--lap-and-up">
 <article class="item-card box"> <a href="#" class="item-card__photo"><span> <img width="270" src="/upload/medialibrary/694/tractor_johndeere.png" height="200" alt="Трактор" title="Трактор"></span></a>
        <h3 class="item-card__name">Трактор John Deere</h3>
        <p class="item-card__prev-text">
           Доступны модификации данной модели с колесными формулами 4х2 и 4х4, что позволяет подобрать трактор для выполнения нужного спектра работ и условий эксплуатации.
        </p>
 <a href="#" class="btn">Подробнее</a> </article>
      </div>
      <div class="grid__cell 1/3--handheld-and-up  1/2--lap-and-up">
 <article class="item-card"> <a href="#" class="item-card__photo"> <span> <img width="270" src="/upload/medialibrary/694/tractor_johndeere.png" height="200" alt="Трактор" title="Трактор"></span></a>
        <h3 class="item-card__name">Трактор Case IH</h3>
        <p class="item-card__prev-text">
           Доступны модификации данной модели с колесными формулами 4х2 и 4х4.
        </p>
 <a href="#" class="btn">Подробнее</a> </article>
      </div>
    </div>
  </div>
</div>
 </section>
