.box {
  margin-bottom: 20px;
}

.box--top {
  margin-top: 20px;
  margin-bottom: 0;
}

.box--cat-item {
  margin-bottom: 50px;

  @include av-mq(pocket) {
    margin-bottom: 30px;
  }
  @include av-mq(thumb) {
    margin-bottom: 20px;
  }
}

.box--big-top {
  margin-top: 40px;
  margin-bottom: 0;
}
