.breadcrumbs {
  @include list-clear();
  margin-bottom: 25px;
  margin-left: -15px;
  font-size: 0;


  li {
    color: $c_base;
    margin-left: 15px;
    font-family: $ff_Arial;
    font-size: $fz_base;
    line-height: 24/16*1;
    display: inline-block;
    vertical-align: middle;


    &:not(:last-of-type) {
      padding-right: 23px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        width: 7px;
        height: 7px;
        transform: rotate(-45deg) translateY(-50%);
        border-right: 3px solid $c_orange;
        box-shadow: inset 0 -3px 0 0 $c_orange;
      }
    }
  }

  a {
    @include tdn(none);
    @include trz();
    position: relative;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid $c_base;
    }
  }

}
