.contacts-block {
  margin-top: 20px;
  text-align: right;
  @include trz();

  &__title {
    font-size: $fz_base;
    margin-bottom: 5px;
    @include trz();
  }
  &__phone {
    font-size: $fz_biglarge;
    line-height: 1.2;

    p {
      margin: 0;
    }
  }
}


/* ==========================================================================
   MEDIA
   ========================================================================== */
@include av-mq(pocket) {
  .contacts-block {
    margin-top: 20px;
  }
  .contacts-block__title {
    font-size: $fz_biglarge;
  }
}
@include av-mq(handheld) {
  .contacts-block__phone--top {
    display: flex;
    flex-flow: row no-wrap;
    justify-content: flex-end;

    p + p {
      margin-left: 20px;
    }
  }
}


@include av-mq(thumb) {
  .contacts-block {
    text-align: center;
  }
}
