.footer {
  border-top: 4px solid  $c_orange;
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }


  &__logo {
    flex: 0 0 auto;
    margin-right: 20px;

    @include av-mq(handheld) {
      flex: 1 1 25%;
    }
    @include av-mq(thumb) {
      margin-right: 0;
      flex: 1 1 100%;
      // justify-content: center;
      text-align: center;
    }
  }

  &__menu {
    display: flex;
    min-width: 360px;
    max-width: 600px;
    flex: 1 1 auto;
    @include list-clear();
    // padding-top: 45px;
    align-items: center;
    justify-content: space-between;

    @include av-mq(handheld) {
      flex: 1 1 65%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @include av-mq(pocket) {
      min-width: auto;
    }
    @include av-mq(thumb) {
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }

  &__menu-link {
    color: $c_base;
    font-weight: $fw_bold;
    @include tdn(none);
    position: relative;
    padding-bottom: 1px;
    line-height: 1;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0 3px;
    border-bottom: 1px solid  transparent;

    &:hover,
    &:active,
    &:focus {
      color: $c_base;
    }
    &:hover {
      border-bottom: 1px solid $c_base;
    }
  }


  &__contacts {
    flex: 0 0 auto;
    margin-left: 20px;

    @include av-mq(pocket) {
      flex: 0 0 100%;
      margin-left: 0;
      align-items: flex-start;
    }
  }
}
