.header {
  @extend %container;
  padding-top: 15px;
  margin-bottom: 60px;

  @include av-mq(pocket) {
    margin-bottom: 45px;
  }
  @include av-mq(thumb) {
    margin-bottom: 25px;
  }



  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__logo {
    flex: 0 0 auto;
    margin-right: 20px;

    @include av-mq(handheld) {
      flex: 1 0 25%;
    }
    @include av-mq(thumb) {
      position: relative;
      z-index: 101;
    }
  }

  &__menu {
    display: flex;
    min-width: 360px;
    max-width: 520px;
    flex: 1 1 auto;

    @include av-mq(pocket) {
      min-width: auto;
    }
    // @include av-mq(thumb) {
    //   flex: 0 0 100%;
    // }
  }

  &__contacts {
    flex: 0 0 auto;
    margin-left: 20px;

    @include av-mq(pocket) {
      flex: 0 0 100%;
      margin-left: 0;
      align-items: flex-start;
    }
  }
}


