.item-card {
  position: relative;

  &__photo {
    // min-width: 290px;
    // min-height: 243px;
    padding-top: 243/290*100%;
    background-color: #fff;
    position: relative;
    display: block;
    margin-bottom: 20px;

    @include av-mq(pocket) {
      margin-bottom: 12px;
    }
    @include av-mq(thumb) {
      margin-bottom: 8px;
    }

    &::after {
      content: '';
      box-shadow: inset 0 0 0 5px $c_orange;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }
    span {
      display: block;
      width: calc(100% - 10px);
      max-width: calc(100% - 10px);
      max-height: calc(100% - 10px);
      height: calc(100% - 10px);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    img {
      @include zero-centering();
    }
  }

  &__name {
    font-weight: $fw_bold;
    font-size: $fz_h3;
    line-height: 1;
    margin-bottom: 12px;

    @include av-mq(thumb) {
      font-size: $fz_h4;
    }
  }

  &__prev-text {
    font-size: $fz_p;
    font-family: $ff_Arial;
    text-align: justify;
    line-height: 17/14*1;
    margin-bottom: 15px;
  }
}


.item-card--best-price {
  .item-card__photo {
    &::before {
      content: 'Лучшая цена';
      font-weight: $fw_bold;
      font-size: $fz_h4;
      line-height: 1;
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      top: 15px;
      left: 15px;
      background-color: $c_orange;
      padding: 9px 35px 12px;
      border-radius: 30px;
      z-index: 1;
      color: $c_base;
    }
  }
}

.item-card--big {
  @include av-mq(handheld) {
    @include clearfix();
  }

  .item-card__photo {
    span {
      max-width: 100%;
      max-height: 100%;
    }
    @include av-mq(handheld) {
      float: left;
      overflow: hidden;
      margin-right: 30px;
      padding-top: 40%;
      width: calc(50% - 15px);

    }
  }
  .item-card__name {
    @include av-mq(handheld-and-up) {
      font-size: 26px;
    }
  }
}
