.main-menu {
  margin-top: 30px;
  width: 100%;

  &__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 100%;
  }
  // @include trz();

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    position: relative;
    font-size: 16px;
    line-height: 1;
    font-weight: $fw_bold;
    color: $c_base;
    @include trz();
    @include tdn();
    &:hover,
    &:active {
      color: inherit;
    }
    &:hover img {
      opacity: 0.8;
    }

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    background-position: center top;
    background-repeat: no-repeat;

    &--technic {
      background-image: svg-load('i_menu-1.svg');
      background-size: 85%;
    }

    &--parts {
      background-image: svg-load('i_menu-2.svg');
      background-size: 60%;
    }
    &--service {
      background-image: svg-load('i_menu-3.svg');
      background-size: 75%;
    }
    &--finance {
      background-image: svg-load('i_menu-4.svg');
      background-size: 70%;
    }
    &--contacts {
      background-image: svg-load('i_menu-5.svg');
      background-size: 65%;
    }

    @include av-mq(handheld) {
      font-size: 14px;
    }
  }



  &__btn {
    pointer-events: auto;
    @include text-hide();
    width: 40px;
    height: 35px;
    display: block;
    position: absolute;
    top: -85px;
    right: 15px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      display: block;
      width: 60%;
      position: absolute;
      height: 8px;
      background-color: $c_gray--dark;
      border-radius: 5px;
      transform: rotate(0) translate(0);
      transition: all .25s linear;
      will-change: transform;
    }
    &::before {
      left:0;
      top: 0;
      box-shadow: 16px 27px 0 0 $c_gray--dark;
      // will-change: transform;
    }
    &::after {
      left: 0;
      bottom: 0;
      box-shadow: 16px -27px 0 0 $c_gray--dark;
      // will-change: transform;
    }

    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 8px;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-color: $c_gray--dark;
      border-radius: 5px;
      transition: all .25s ease-in-out;
      will-change: transform;
    }

    &--is-active {
      &::before {
        box-shadow: 20px 0px 0 0 $c_gray--dark;
        transform: rotate(40deg) translate(3px, 6px);
        width: 70%;
      }
      &::after {
        box-shadow: 20px 0 0 $c_gray--dark;
        transform: rotate(-40deg) translate(3px, -6px);
        width: 70%;
      }
      span {
        left: 50%;
        transform: translate(-50%, -50%);
        height: 0;
        width: 0;
      }
    }


    @include av-mq(handheld-and-up) {
      display: none;
    }
  }
}



@include av-mq(thumb) {
  .main-menu {
    pointer-events: none;
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    z-index: 100;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -65px;
      left: 50%;
      width: 0;
      height: 0;
      background-color: #fff;
      opacity: 0;
      @include trz();
    }


    &--is-open {
      pointer-events: auto;

      &::before {
        opacity: 1;
        top: -130px;
        left: 0;
        width: 100%;
        height: 130px;
      }
      .main-menu__container {
        box-shadow: 0 1px 2px 0px rgba(#000,.3);
        transform: translate(0, 0);
        pointer-events: auto;
      }
    }

    &__container {
      transition: transform .25s ease-in-out;
      border-top: 1px solid $c_gray;
      border-bottom: 1px solid $c_gray;
      display: flex;
      flex-direction: column;
      transform: translate(-100%, 0);
      pointer-events: none;
      // transition: transform .25s ease-in-out;
      will-change: transform;
    }

    &__link {
      @include tdn(none);
      padding: 15px;
      background-color: #fff;
      font-size: $fz_h3;
      background-image: none;

      &:not(:last-child) {
        border-bottom: 1px solid $c_gray;
      }
      &:hover {
        background-color: darken(#fff, 10%);
      }

      img {
        display: none;
      }
    }


  }

}
