.main-content {
  padding-bottom: 70px;

  @include av-mq(pocket) {
    padding-bottom: 50px;
  }
  @include av-mq(thumb) {
    padding-bottom: 25px;
  }

  ul:not(.breadcrumbs) {
    font-family: $ff_Arial;
    padding-left: 20px;
  }


  ul {
    margin-top: 0;
  }
  // p {
  //   text-align: justify;
  // }
  p a {
    @include tdr();
  }
}
