.page-title {
  font-size: $fz_h1;
  font-weight: $fw_bold;
  margin-top: 0;
  margin-bottom: 40px;

  @include av-mq(pocket) {
    font-size: $fz_h2;
    margin-bottom: 30px;
  }

  @include av-mq(thumb) {
    font-size: $fz_big;
    margin-bottom: 20px;
  }

  &--level2 {
    font-size: $fz_h2;

    @include av-mq(pocket) {
      font-size: $fz_h3;
    }
    @include av-mq(thumb) {
      font-size: $fz_h4;
    }
  }


  &--section {
    font-size: $fz_h2;
    margin-bottom: 30px;

    @include av-mq(pocket) {
      font-size: $fz_h2;
      margin-bottom: 25px;
    }
    @include av-mq(thumb) {
      font-size: $fz_h2;
      margin-bottom: 20px;
    }
  }


}
