.parts {
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  @include av-mq(pocket) {
    justify-content: space-between;
  }



  &__item {
    margin-bottom: 20px;
    flex: 0 1 33.333333%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    @include av-mq(pocket) {
      flex: 0 1 48%;
    }
    @include av-mq(thumb) {
      flex: 0 0 100%;
      align-items: center;
    }
  }

  &__image {
    flex: 0 0 25%;
    padding-right: 10px;
    align-self: center;
    // align-items: center;
    text-align: center;

    @include av-mq(pocket) {
      align-self: flex-start;

      img {
        max-height: 50px;
      }
    }
    @include av-mq(thumb) {
      // text-align: left;
      img {
        max-height: 100%;
      }
    }
  }

  &__text {
    padding-top: 10px;
    flex: 0 0 75%;
    padding-right: 10px;
    font-family: $ff_Arial;
    font-size: $fz_large;
    // align-self: center;
    @include av-mq(pocket) {

      padding-top: 0;
      padding-right: 0;
    }
      }
}
