.partners {

  &__slide {
    margin: 0 10px;
    position: relative;
    opacity: 1;
    @include trz();
    outline: 0;


    img {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
}
