.promo {
  @extend %container;
  margin-top: 40px;
  position: relative;
  padding-bottom: 20%;
  max-height: 460px;
  margin-bottom: 170px;


  @include av-mq(portable) {
    margin-bottom: 60px;
  }
  @include av-mq(pocket) {
    max-height: 255px;
    margin-bottom: 45px;
  }
  @include av-mq(thumb) {
    min-height: 0;
    height: auto;
    padding-bottom: 0;
    margin-bottom: 35px;
  }
  @media all and (min-width: 500px) and (max-width: 600px) {
    padding-bottom: 0;
    max-height: 200px;
  }


  &::before {
    content: '';
    display: block;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: $c_orange;
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 0;
    @include trz();
  }

  &::after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 0;
    background: url(img/bg__promo.png) no-repeat right bottom;
    // min-width: 290px;
    // min-height: 160px;
    width: 52%;
    height: 80%;
    background-size: contain;
    // @include trz();

    @include av-mq(lap-and-up) {
      max-width: 451px;
      max-height: 247px;
      width: 45%;
    }
    @include av-mq(desk) {
      max-width: 520px;
      max-height: 280px;
    }
    @include av-mq(widescreen) {
      max-width: 618px;
      max-height: 338px;
      width: 52%;
    }
    @include av-mq(pocket) {
      max-width: 451px;
      max-height: 247px;
      bottom: auto;
      top: 0;
      background-position: right top;
      width: calc(100% - 50vw);
      min-width: 200px;
    }

    @include av-mq(thumb) {
      // min-width: 290px;
      // min-height: 160px;
      // width: calc(100% - 30px);
      // height: 100%;
      // bottom: 0;
      // top: auto;
      width: 100%;
      height: 160px;
      display: block;
      position: relative;
      background-position: center;
    }
    // Гребаный ХАК для тупой картинки
    @media all and (min-width: 500px) and (max-width: 600px) {
      min-width: 200px;
      width: 30%;
      background-position: right center;
      bottom: -10px;
      top: auto;
    }
  }





  &__title {
    font-size: 60px;
    line-height: 73/60*1;
    color: $c_title;
    font-weight: $fw_bold;
    max-width: 740px;
    padding-left: 65px;
    padding-top: 25px;
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
    @include trz();
  }

  &__subtitle {
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 1;
    margin: 0;
    font-weight: $fw_light;
    padding-left: 165px;
    position: relative;
    z-index: 1;
    @include trz();
  }

}



/* ==========================================================================
   MEDIA
   ========================================================================== */
@include av-mq(pocket) {
  .promo {
    margin-top: -10px;

    &::before {
      width: 105px;
      height: 105px;
    }
  }
  .promo__title {
    padding-left: 35px;
    font-size: 30px;
    line-height: 34/30*1;
    max-width: 400px;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .promo__subtitle {
    font-size: 12px;
    padding-left: 85px;
  }
}


@include av-mq(thumb) {
  .promo {
    margin-top: 5px;

    &::before {
      width: 85px;
      height: 85px;
    }
  }
  .promo__title {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 28/24*1;
    max-width: 300px;
    margin-bottom: 5px;
  }
  .promo__subtitle {
    padding-left: 70px;
  }

}
