.product-slider {
  display: flex;
  justify-content: center;

  &__inner {
    position: relative;
    // display: flex;
    flex: 1 1 770px;
    max-width: 770px;
    text-align: center;

    @include av-mq(pocket) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .lslide  {
      position: relative;
      height: 430px;
      @include av-mq(pocket) {
        height: 350px;
      }
      @include av-mq(thumb) {
        height: 300px;
      }
      img {@include zero-centering();}
    }


    .lSGallery {
      // height: 145px;
      li {
        border: none;
        border-radius: 0 !important;
        opacity: 0.5;
        @include trz();
        height: 180px;
        position: relative;
        @include av-mq(pocket) {
          height: 140px;
        }
        @include av-mq(thumb) {
          height: 100px;
        }
        &.active {
          opacity: 1;
        }


        &:hover {
          border-radius: 0 !important;
          opacity: 1;
        }
      }
      a {
        border: 1px solid $c_gray;
        height: 100%;
        position: relative;
        display: block;
        img {@include zero-centering();}
      }
    }
    .lSSlideWrapper {
      margin-bottom: 30px;
      @include av-mq(thumb) {
        margin-bottom: 15px;
      }
    }
  }

  ul {
    @include list-clear();
    padding-left: 0;
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    cursor: pointer;
    // background-color: transparent;
    border: none;
    box-shadow: none;
    top: 210px;
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    opacity: .7;
    @include text-hide();
    @include trz(opacity, .25s);
    background-color: $c_gray--light;

    @include av-mq(pocket) {
      top: 160px;
    }
    @include av-mq(thumb) {
      top: 120px;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;

      margin-top: -11px;
      width: 22px;
      height: 22px;
      background-color: transparent;
      border-top: 8px solid $c_gray--dark;
      border-right: 8px solid $c_gray--dark;

    }

    &:hover {opacity: 1; }
  }

  &__btn-prev {
    left: 10px;
    &:before {
      transform: rotate(-135deg);
      margin-left: -7px;
    }
  }

  &__btn-next {
    right: 10px;
    &:before {
      transform: rotate(45deg);
      margin-left: -15px;
    }
  }
}
