.product-page {
  margin-bottom: 50px;

  @include av-mq(pocket) {
    margin-bottom: 30px;
  }

  // @include av-mq(thumb) {
  //   margin-bottom: 30px;
  // }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    @include av-mq(portable) {
      flex-flow: row wrap;
    }
  }

  &__main-photo {
    position: relative;
    margin-right: 30px;
    display: flex;
    flex: 1 1 50%;
    align-items: flex-start;
    min-width: 300px;
    max-width: 570px;

    @include av-mq(portable) {
      flex: 1 0 47%;
      margin-bottom: 20px;
      // margin-right: 0;
    }
    @include av-mq(thumb) {
      margin-right: 0;
      flex: 1 1 100%;
    }

    &::after {
      content: '';
      box-shadow: inset 0 0 0 5px $c_orange;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
    }
  }

  &__links {
    display: flex;
    flex: 1 1 100%;

    @include av-mq(desk) {
      position: absolute;
      right: 0;
      top: 0;
    }
    @include av-mq(portable) {
      display: flex;
      flex: 1 0 auto;
      align-self: stretch;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__main-info {
    display: flex;
    flex: 1 1 50%;
    min-width: 300px;
    flex-flow: column wrap;

    font-size: 14px;
    p {
      font-size: inherit;
    }


    @include av-mq(desk) {
      padding-top: 65px;
    }

    @include av-mq(portable) {
      flex: 1 1 100%;
      // margin-top: 30px;
    }
  }
}
