.simple-title {
  font-size: $fz_title;

  @include av-mq(thumb) {
    font-size: $fz_title--mobile;
  }

  &--hidden {
    display: none;

    @include av-mq(pocket) {
      display: block;
      font-size: $fz_biglarge;
      margin-bottom: 20px;
    }
  }

}
