.specific {
  font-family: $ff_Arial;
  font-size: 14px;
  line-height: 17/14*1;
  font-weight: $fw_bold;

  &:not(:first-of-type) {
    margin-top: 20px;
  }



  &__title {
    font-size: 18px;
  }

  &__row {
    display: flex;
    flex: row nowrap;
    padding: 20px 10px;
    border-bottom: 1px solid $c_gray;
    justify-content: space-between;
    align-items: center;
  }


  &__cell-name {
    flex: 1 1 70%;
    min-width: 200px;
    text-align: left;
    padding-right: 10px;
  }
  &__cell-item {
    flex: 1 1 30%;
    min-width: 100px;
    text-align: right;
    padding-left: 10px;
  }

}
