.tabs {

  &__nav {
    @include list-clear();
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
  }

  &--product-page {
    // @include av-mq(pocket) {
    //   .tabs__nav {flex-flow: row wrap; }

    //   .tabs__nav-item {
    //     flex: 1 0 50%;
    //     &:nth-child(n+3) {
    //       margin-top: 10px;
    //     }
    //   }
    // }

    @include av-mq(pocket) {
      .tabs__nav {
        display: none !important;
      }

      .tabs__item {
        display: block !important;
        &:not(:first-of-type) {
          margin-top: 25px;
        }
      }
    }


  }


  &__nav-item {
    display: flex;
    flex: 1 1 auto;
    height: 64px;

    background-color: $c_gray--light;
    border-top: 1px solid transparent;
    border-left: 1px solid $c_gray--light;
    border-right: 1px solid $c_gray--light;
    @include trz();

    &:hover {
      background-color: darken($c_gray--light, 3%);
    }

    &.active {
      box-shadow: 0 4px 0 0px $c_orange;
      border-left-color: $c_gray;
      border-right-color: $c_gray;
      border-top-color: $c_gray;
      background-color: darken($c_gray--light, 3%);
    }
  }



  &__nav-link {
    @include tdn(none);
    color: $c_base;
    font-size: $fz_base;
    font-family: $ff_Arial;
    line-height: 1;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    &::before {
      content: '';
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      display: flex;
      flex: 0 0 auto;
    }


    &--credit::before {
      width: 35px;
      height: 30px;
      background-image: svg-load('i_list.svg');
    }

    &--leasing::before,
    &--photo::before {
      width: 37px;
      height: 30px;
      background-image: svg-load('i_photo.svg');
    }

    &--features::before {
      width: 35px;
      height: 35px;
      background-image: svg-load('10-wheel.svg');
    }

    &--video::before {
      width: 35px;
      height: 37px;
      background-image: svg-load('i_video.svg');
    }

  }



  &__item {
    display: none;

    h2 {
      @extend %h2-adaptive;
    }

    h3 {
      margin-top: 40px;
    }


    &.active {
      display: block;
    }
  }
}
