.text-block {
  @include clearfix();

  margin-top: 25px;

  > *:not(img) {
    @include av-mq(lap-and-up) {
      margin-left: 400px;
    }
  }

  img {
    margin-bottom: 20px;
    @include av-mq(lap-and-up) {
      float: left;
      // margin-right: 20px;
    }
  }
}
