body {
  background: $bg_body;
  min-width: 320px;
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &--main-page {
    background: #f2f2f2 url('img/bg__index.png') no-repeat center top/auto;
  }

  &__content {
    flex: 1;
  }

}



.container {
  @extend %container;
}


